// Set 'listen' to either:
//   * An IPv4 address (e.g. "0.0.0.0:8011" listens on all IPv4 interfaces).
//   * An IPv6 address (e.g. "[::]:8011" listens on all IPv4 and all IPv6
//     interfaces).
listen = "0.0.0.0:8011";

github {
  match ".*" {
    // For each webhook coming in, this will execute the command:
    //   /path/to/prps/<owner>/<repo> <event> <path-to-github-json>
    // where the file <repo> must be executable. Note that snare guarantees
    // that all the '%' substitutions are shell-safe.
    cmd = "/path/to/prps/%o/%r %e %j";

    // This command will send an email to "someone@example.com" when an error
    // occurs. The subject will contain the repository owner and repository
    // names; the body will contain the full stderr/stdout (you should consider
    // carefully whether these have sensitive information or not). In order for
    // this to work, you will need to have installed, set-up, and enabled a
    // suitable sendmail clone.
    errorcmd = "cat %s | mailx -s \"snare error: github.com/%o/%r\" someone@example.com";

    // The GitHub secret used to sign webhook requests.
    secret = "<secret>";
  }
}
